body {
    /* background-color: darkgrey; */
    /* background: linear-gradient(
      90deg,
      rgb(93, 179, 232) 0%,
      rgb(120, 184, 230) 54%,
      rgb(157, 209, 249) 82%
    ); */

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
  }
  
  h1 {
    color: white;
  }

  .hidden {
    display: none !important;

  }

  .navbar {
    background-color: #CC3333;
    padding: 10%;
    height: 70px;
    justify-content: space-between;
  }

  .navbar-brand,
  .navbar-nav .nav-link {
    color: rgb(228, 228, 228);
  }

  .navbar-brand,
  .navbar-nav .nav-link:hover {
    color: white;
  }

  .navbar-brand img {
    max-width: 100%;  
    height: auto; 
  }

  .navbar-brand {
    width: 10%;
  }

  .navbar-nav {
    gap: 30px;
  }
  
  .title {
    margin-top: 10%;
  }

  .home-logo {
    margin-top: 8%;
  }

  .home-logo img{
    height: auto;
    max-width: 5%;
  }

  .pokemon-container-multiple {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    gap: 25px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 5%;
  }

  .pokemon-container {
    width: 20%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 5%;
  }

  .pokemon-container-wide {
    width: 80%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 5%;
  }

  .pokemon-card {
    box-shadow: 0 0 10px 2px red;
  }
  
  .pokemon-block,
  .pokemon-block-back {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  }
  
  .img-container {
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .pokemon-block p {
    margin: 5px;
  }
  
  .name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  #spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .pagination {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  
  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .card-container {
    transform: rotateY(180deg);
  }
  
  .pokemon-block,
  .pokemon-block-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
  }
  
  .stat-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }

  .poke-info {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }